.section-header {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
    color: getColor('header-primary');
    margin-bottom: 40px;

    
    @media screen and (min-width: 1200px) {
      &__header {
        font-size: 36px;
      }
    }
  }
  